#TYPEORM
TYPEORM_CONNECTION = postgres
TYPEORM_HOST = localhost
TYPEORM_PORT = 5432
TYPEORM_USERNAME = 
TYPEORM_PASSWORD = 
TYPEORM_DATABASE = 
TYPEORM_SYNCHRONIZE = true
TYPEORM_LOGGING = false
TYPEORM_ENTITIES = ./src/modules/**/infra/typeorm/entities/*.ts
TYPEORM_MIGRATIONS = ./src/shared/infra/typeorm/migrations/*.ts
TYPEORM_MIGRATIONS_DIR = ./src/shared/infra/typeorm/migrations
TYPEORM_MIGRATIONS_RUN = true

#REDIS
REDIS_HOST = 127.0.0.1
REDIS_PORT = 6379
REDIS_PASSWORD = 

#TOKEN
SECRET = 